.bio {
  text-align: justify;
}

.title {
  font-size: 40px;
}

mat-card {
  background-color: rgba(135, 153, 159, 0.605);
}

.card-img {
  border-radius: 5%;
}

.vid {
  border-radius: 2%;
}

.card-link {
  color: white;
}
