<div class="container-fluid p-0">
  <div class="barra p-0 m-0">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon routerLink="/home">home</mat-icon>
      </button>
      <span>AngularRocks</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/new">add</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/search">search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/bands">list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/top">star_rate</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div>