<!-- <div class="barra p-0 m-0"> 
  <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon routerLink="">home</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/new">add</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/search">search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/bands">list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon routerLink="/dashboard">star_rate</mat-icon>
        </button>
    </mat-toolbar>
</div> -->

<div class="container-fluid img p-0 vp-50">
  <app-nav></app-nav>
    <router-outlet></router-outlet>
</div>

<div class="row p-0 m-0">
  <app-footer class="col-12 p-0 m-0"></app-footer>
</div>



