.cursor {
  cursor: pointer;
}

.bg-color {
  background-color: rgba(135, 153, 159, 0.605);
}

.title {
  font-size: 50px;
}

.band {
  font-size: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.color {
  color: rgba(211, 237, 82, 0.625);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.chip-color-red {
  background-color: rgba(255, 0, 0, 0.66);
}

